<a href="https://colab.research.google.com/github/nairtm/Analista_de_dados_Flora_SoulCode/blob/main/AED_NAIR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import statistics as st

In [ ]:
# importando uma tabela a partir de um link da internet
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSU9iI1TDNfDVCbv4FCa9TDhBmgQKsDtrW6n7R6ndyFzDo2Qeq8sJj-RhJnzKuwm5Lx1f8n7r7ig7Vs/pub?gid=0&single=true&output=csv')
display(df)

,matricula,nome,cidade,estado,pais,idade,departamento,cargo,salario,escolaridade,nota
0,1,Lucas,Atibaia,SP,Brasil,35,Compras,Gerente,25000,Superior,8
1,2,Ana,São Paulo,SP,Brasil,29,Vendas,Coordenador,12000,Superior,6
2,3,Luiza,Santos,SP,Brasil,38,Finanças,Gerente,28000,MBA,9
3,4,Fernando,Atibaia,SP,Brasil,36,Marketing,Diretor,40000,Mestrado,7
4,5,Sandra,Atibaia,SP,Brasil,28,Produção,Analista,23000,Superior,5
5,6,Douglas,Bragança,SP,Brasil,29,Finanças,Analista,11000,Superior,9
6,7,Eduardo,Extrema,MG,Brasil,30,Marketing,Gerente,12000,MBA,4
7,8,Ester,Itapeva,MG,Brasil,29,Compras,Analista,10000,Superior,2
8,9,Pedro,Extrema,MG,Brasil,30,Marketing,Analista,13000,Superior,1
9,10,Maria,Extrema,MG,Brasil,40,Produção,Analista,12000,MBA,7

In [ ]:
idades = list(df['idade'])
salarios = list(df['salario'])
notas = list(df['nota'])

#1- Medidas de Tendência Central

In [ ]:
#Média Aritmética
medianp = np.mean(idades)
print (medianp)
mediast = st.mean(idades)
print(mediast)

32.4
32.4

In [ ]:
# Mediana
mediananp = np.median(idades)
print(mediananp)
medianast =st.median(idades)
print(medianast)

30.0
30.0

In [ ]:
# Moda (não existe no numpy)
#modanp = np.mode(idades)
#print(modanp)
modast =st.mode(idades)
print(modast)

29

#2 - Medidas de dispersão

In [ ]:
# Variância
variancianp = np.var(idades, ddof=1) #no numpy a variancia amostral precisa do parametro ddof graus de liberdade
print(variancianp)
varianciast =st.variance(idades)
print(varianciast)

19.37777777777778
19.377777777777776

In [ ]:
# Desvio Padrão
desvionp = np.std(idades, ddof=1)
print(desvionp)
desviost = st.stdev(idades)
print(desviost)

4.402019738458447
4.402019738458447

# 3 - Medidas Separatrizes

In [ ]:
# Valor Mínimo
minnp = np.min(idades)
print(minnp)
#minst = st.min(idades) Nesta biblioteca não temos o atributo min
#print(minst)

28

In [ ]:
# 1° Quartil - Q1
q1np = np.quantile(idades, 0.25)
print(q1np)
q1st = st.quantiles(idades) [0]
print(q1st)

29.0
29.0

In [ ]:
# 2° Quartil - Q2
q2np = np.quantile(idades, 0.5)
print(q2np)
q2st = st.quantiles(idades) [1]
print(q2st)

30.0
30.0

In [ ]:
# 3° Quartil - Q3
q3np = np.quantile(idades, 0.75)
print(q3np)
q3st = st.quantiles(idades) [2]
print(q3st)

35.75
36.5

In [ ]:
st.quantiles(idades) # os quartis 1°, 2°, 3° e 4°

[29.0, 30.0, 36.5]

In [ ]:
#Valor Máximo
maxnp = np.max(idades)
print(maxnp)
#maxst = st.max(idades) Nesta biblioteca nao tem o atributo max
#print(maxst)

40

In [ ]:
# Amplitude Interquartílica - AIQ
aiqnp = q3np - q1np
print(aiqnp)
aiqst = q3st - q1st
print(aiqst)

6.75
7.5

In [ ]:
#Limite Inferior
linp = q1np - (1.5 * aiqnp)
print(linp)
linst = q1st - (1.5 * aiqst)
print(linst)

18.875
17.75

In [ ]:
# Limite Superior - LS
lsnp = q3np + (1.5 * aiqnp)
print(lsnp)
lsst = q3st + (1.5 * aiqst)
print(lsst)

45.875
47.75

#4 - Correlação

In [ ]:
corre1np = np.corrcoef(idades, salarios)
print(corre1np[0][1])
corre1st = st.correlation(idades, salarios)
print(corre1st)

0.4633206888881571
0.463320688888157