<a href="https://colab.research.google.com/github/nairtm/Analista_de_dados_Flora_SoulCode/blob/main/ETL2PROJETO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/projeto1nair/dados-brutos/dado.csv')
display(df)

                 nome  idade  salário        cargo  departamento
0         Maria Gomes   48.0      NaN          NaN           NaN
1          Paulo Lima    NaN      NaN      Gerente           NaN
2          João Gomes   49.0  1812.77   Estagiário  Desconhecido
3        Pedro Santos    NaN      NaN          NaN     Marketing
4       Mariana Silva   40.0      NaN          NaN     Operações
5         Paulo Silva    NaN  2595.51          NaN           NaN
6   Fernanda Ferreira    NaN     erro          NaN           NaN
7           Ana Gomes    NaN     erro          NaN  Desconhecido
8      Carlos Almeida   57.0  6923.55  Coordenador    Financeiro
9          João Souza   22.0      NaN          NaN        Vendas
10     Juliana Santos   32.0      NaN          NaN  Desconhecido
11       Paulo Mendes    NaN  4276.72          NaN           NaN
12      João Ferreira    NaN      NaN          NaN            TI
13       João Almeida   57.0     erro          NaN  Desconhecido
14        Maria Costa   51.0     erro          NaN       Compras
15      João Oliveira    NaN      NaN          NaN     Marketing
16          João Lima   34.0      NaN          NaN  Desconhecido
17          Ana Silva    NaN      NaN      Diretor            TI
18    Mariana Almeida    NaN      NaN      Gerente           NaN
19    Juliana Almeida    NaN      NaN          NaN            TI
20   Juliana Oliveira   60.0  3618.77     Analista            TI
21       Roberto Lima    NaN     erro          NaN        Vendas
22     Juliana Mendes   23.0     erro          NaN           NaN
23         Maria Lima    NaN      NaN          NaN           NaN
24         João Souza    NaN      NaN          NaN           NaN
25         João Souza    NaN  6537.49          NaN     Operações
26     Roberto Santos   34.0  6414.65    Consultar        Vendas
27         João Costa   47.0  3548.68    Consultor  Desconhecido
28      Mariana Silva   35.0      NaN          NaN           NaN
29     Paulo Oliveira   42.0  5544.54   Assistente        Vendas
30     Maria Ferreira   55.0     erro          NaN            TI
31          Ana Gomes    NaN     erro  Coordenador           NaN
32          Ana Costa    NaN     erro          NaN  Desconhecido
33     Fernanda Gomes    NaN     erro          NaN            TI
34    Fernanda Santos   26.0  6500.00    Coordenar            RH
35        Maria Souza   37.0  5217.46      Diretor     Marketing
36           Ana Lima    NaN      NaN          NaN  Desconhecido
37         Ana Mendes    NaN     erro          NaN           NaN
38      Roberto Silva    NaN      NaN          NaN       Compras
39   Mariana Ferreira    NaN      NaN          NaN            TI

In [ ]:
#armazenando as informações da coluna e transformando em uma lista
nome = df['nome']
nome= list(nome)
print(nome)
idade = df['idade']
idade= list(idade)
print(idade)
salario = df['salário']
salario= list(salario)
print(salario)
cargo = df['cargo']
cargo= list(cargo)
print(cargo)
departamento= df['departamento']
departamento= list(departamento)
print(departamento)

['Maria Gomes', 'Paulo Lima', 'João Gomes', 'Pedro Santos', 'Mariana Silva', 'Paulo Silva', 'Fernanda Ferreira', 'Ana Gomes', 'Carlos Almeida', 'João Souza', 'Juliana Santos', 'Paulo Mendes', 'João Ferreira', 'João Almeida', 'Maria Costa', 'João Oliveira', 'João Lima', 'Ana Silva', 'Mariana Almeida', 'Juliana Almeida', 'Juliana Oliveira', 'Roberto Lima', 'Juliana Mendes', 'Maria Lima', 'João Souza', 'João Souza', 'Roberto Santos', 'João Costa', 'Mariana Silva', 'Paulo Oliveira', 'Maria Ferreira', 'Ana Gomes', 'Ana Costa', 'Fernanda Gomes', 'Fernanda Santos', 'Maria Souza', 'Ana Lima', 'Ana Mendes', 'Roberto Silva', 'Mariana Ferreira']
[48.0, nan, 49.0, nan, 40.0, nan, nan, nan, 57.0, 22.0, 32.0, nan, nan, 57.0, 51.0, nan, 34.0, nan, nan, nan, 60.0, nan, 23.0, nan, nan, nan, 34.0, 47.0, 35.0, 42.0, 55.0, nan, nan, nan, 26.0, 37.0, nan, nan, nan, nan]
[nan, nan, '1812.77', nan, nan, '2595.51', 'erro', 'erro', '6923.55', nan, nan, '4276.72', nan, 'erro', 'erro', nan, nan, nan, nan, nan, '3618.77', 'erro', 'erro', nan, nan, '6537.49', '6414.65', '3548.68', nan, '5544.54', 'erro', 'erro', 'erro', 'erro', '6500.00', '5217.46', nan, 'erro', nan, nan]
[nan, 'Gerente', 'Estagiário', nan, nan, nan, nan, nan, 'Coordenador', nan, nan, nan, nan, nan, nan, nan, nan, 'Diretor', 'Gerente', nan, 'Analista', nan, nan, nan, nan, nan, 'Consultar', 'Consultor', nan, 'Assistente', nan, 'Coordenador', nan, nan, 'Coordenar', 'Diretor', nan, nan, nan, nan]
[nan, nan, 'Desconhecido', 'Marketing', 'Operações', nan, nan, 'Desconhecido', 'Financeiro', 'Vendas', 'Desconhecido', nan, 'TI', 'Desconhecido', 'Compras', 'Marketing', 'Desconhecido', 'TI', nan, 'TI', 'TI', 'Vendas', nan, nan, nan, 'Operações', 'Vendas', 'Desconhecido', nan, 'Vendas', 'TI', nan, 'Desconhecido', 'TI', 'RH', 'Marketing', 'Desconhecido', nan, 'Compras', 'TI']

In [ ]:
# convertendo para string
nome_str = [str(n) for n in nome]
idade_str = [str(i) for i in idade]
salario_str = [str(s) for s in salario]
cargo_str = [str(c) for c in cargo]
departamento_str = [str(d) for d in departamento]

print("Nomes:", nome_str)
print("Idades:", idade_str)
print("Salários:", salario_str)
print("Cargos:", cargo_str)
print("Departamentos:", departamento_str)

Nomes: ['Maria Gomes', 'Paulo Lima', 'João Gomes', 'Pedro Santos', 'Mariana Silva', 'Paulo Silva', 'Fernanda Ferreira', 'Ana Gomes', 'Carlos Almeida', 'João Souza', 'Juliana Santos', 'Paulo Mendes', 'João Ferreira', 'João Almeida', 'Maria Costa', 'João Oliveira', 'João Lima', 'Ana Silva', 'Mariana Almeida', 'Juliana Almeida', 'Juliana Oliveira', 'Roberto Lima', 'Juliana Mendes', 'Maria Lima', 'João Souza', 'João Souza', 'Roberto Santos', 'João Costa', 'Mariana Silva', 'Paulo Oliveira', 'Maria Ferreira', 'Ana Gomes', 'Ana Costa', 'Fernanda Gomes', 'Fernanda Santos', 'Maria Souza', 'Ana Lima', 'Ana Mendes', 'Roberto Silva', 'Mariana Ferreira']
Idades: ['48.0', 'nan', '49.0', 'nan', '40.0', 'nan', 'nan', 'nan', '57.0', '22.0', '32.0', 'nan', 'nan', '57.0', '51.0', 'nan', '34.0', 'nan', 'nan', 'nan', '60.0', 'nan', '23.0', 'nan', 'nan', 'nan', '34.0', '47.0', '35.0', '42.0', '55.0', 'nan', 'nan', 'nan', '26.0', '37.0', 'nan', 'nan', 'nan', 'nan']
Salários: ['nan', 'nan', '1812.77', 'nan', 'nan', '2595.51', 'erro', 'erro', '6923.55', 'nan', 'nan', '4276.72', 'nan', 'erro', 'erro', 'nan', 'nan', 'nan', 'nan', 'nan', '3618.77', 'erro', 'erro', 'nan', 'nan', '6537.49', '6414.65', '3548.68', 'nan', '5544.54', 'erro', 'erro', 'erro', 'erro', '6500.00', '5217.46', 'nan', 'erro', 'nan', 'nan']
Cargos: ['nan', 'Gerente', 'Estagiário', 'nan', 'nan', 'nan', 'nan', 'nan', 'Coordenador', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Diretor', 'Gerente', 'nan', 'Analista', 'nan', 'nan', 'nan', 'nan', 'nan', 'Consultar', 'Consultor', 'nan', 'Assistente', 'nan', 'Coordenador', 'nan', 'nan', 'Coordenar', 'Diretor', 'nan', 'nan', 'nan', 'nan']
Departamentos: ['nan', 'nan', 'Desconhecido', 'Marketing', 'Operações', 'nan', 'nan', 'Desconhecido', 'Financeiro', 'Vendas', 'Desconhecido', 'nan', 'TI', 'Desconhecido', 'Compras', 'Marketing', 'Desconhecido', 'TI', 'nan', 'TI', 'TI', 'Vendas', 'nan', 'nan', 'nan', 'Operações', 'Vendas', 'Desconhecido', 'nan', 'Vendas', 'TI', 'nan', 'Desconhecido', 'TI', 'RH', 'Marketing', 'Desconhecido', 'nan', 'Compras', 'TI']

In [ ]:
indices_para_remover = []

#removendo os dads de erros, desconhecido e "vazios"
for x in range(len(nome_str)):
    if (idade_str[x] == 'erro' or idade_str[x] == 'nan' or idade_str[x] == 'Desconhecido' or
        salario_str[x] == 'erro' or salario_str[x] == 'nan' or salario_str[x] == 'Desconhecido' or
        cargo_str[x] == 'nan' or cargo_str[x] == 'erro' or cargo_str[x] == 'Desconhecido' or
        departamento_str[x] == 'nan' or departamento_str[x] == 'erro' or departamento_str[x] == 'Desconhecido'):

        indices_para_remover.append(x)


for j in sorted(indices_para_remover, reverse=True):
    nome_str.pop(j)
    idade_str.pop(j)
    salario_str.pop(j)
    cargo_str.pop(j)
    departamento_str.pop(j)


print("Nomes:", nome_str)
print("Idades:", idade_str)
print("Salários:", salario_str)
print("Cargos:", cargo_str)
print("Departamentos:", departamento_str)

Nomes: ['Carlos Almeida', 'Juliana Oliveira', 'Roberto Santos', 'Paulo Oliveira', 'Fernanda Santos', 'Maria Souza']
Idades: ['57.0', '60.0', '34.0', '42.0', '26.0', '37.0']
Salários: ['6923.55', '3618.77', '6414.65', '5544.54', '6500.00', '5217.46']
Cargos: ['Coordenador', 'Analista', 'Consultar', 'Assistente', 'Coordenar', 'Diretor']
Departamentos: ['Financeiro', 'TI', 'Vendas', 'Vendas', 'RH', 'Marketing']

In [ ]:
df_oficial = pd.DataFrame({'nome': nome_str,'idade': idade_str,'salário': salario_str,'cargo': cargo_str,'departamento': departamento_str})
display(df_oficial)
df_oficial.to_csv('tratados.csv', index=False)

               nome idade  salário        cargo departamento
0    Carlos Almeida  57.0  6923.55  Coordenador   Financeiro
1  Juliana Oliveira  60.0  3618.77     Analista           TI
2    Roberto Santos  34.0  6414.65    Consultar       Vendas
3    Paulo Oliveira  42.0  5544.54   Assistente       Vendas
4   Fernanda Santos  26.0  6500.00    Coordenar           RH
5       Maria Souza  37.0  5217.46      Diretor    Marketing

In [ ]:
from google.colab import auth
auth.authenticate_user()
project_id = 'projeto-nair-440013'
!gcloud config set project {project_id}
from google.cloud import storage
client = storage.Client()
bucket_name = 'projeto1nair'
bucket = client.bucket(bucket_name)
df_oficial.to_csv('tratados.csv',index=False)
from google.cloud import storage
destination_blob_name = 'dados-tratados/tratados.csv'
source_file_name = 'tratados.csv'
blob = bucket.blob(destination_blob_name)
blob.upload_from_filename(source_file_name)

Updated property [core/project].