<a href="https://colab.research.google.com/github/nairtm/Analista_de_dados_Flora_SoulCode/blob/main/Nair_AD11Fundamentosdepython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. VARIÁVEIS E TIPOS DE DADOS

In [ ]:
'''
Variáveis:
'''
cliente = 'Douglas' #nesta linha criamos a variável cliente e armazenamos o nome mais bonito

In [ ]:
# exibindo o valor de uma variável
print(cliente)

Douglas

In [ ]:
# Verificar o tipo de dado armazenado
type(cliente)

str

In [ ]:
peso = 87
type(peso)

int

In [ ]:
peso = '87'
type(peso)

str

In [ ]:
altura = 1.85
type(altura)

float

##2. OPERADORES MATEMÁTICOS

In [ ]:
# Nesse caso ira concatenar porque é string
soma = '3' + '2'
print(soma)

32

In [ ]:
# Soma (+)
soma = 3 + 2
print(soma)

5

In [ ]:
# Subtração (-)
sub = 3 - 2
print(sub)

1

In [ ]:
#Multiplicação (*)
mult = 3 * 2
print(mult)

6

In [ ]:
# Divisão (/)
div = 3 / 2
print(div)

1.5

In [ ]:
# Parte inteira da Divisão (//)
int_div = 3//2
print(int_div)

1

In [ ]:
#resto da divisão (%)
resto = 3 % 2
print(resto)

1

In [ ]:
# Potenciação (**)
potencia = 3 ** 2
print(potencia)

9

##3. Strings

In [ ]:
# Formatação de strings(f-string)
cliente = 'Douglas'
print(cliente)

Douglas

In [ ]:
# Formatação de strings(f-string)
cliente = 'Douglas'
print(f'o nome do cliente é: {cliente}')

o nome do cliente é: Douglas

In [ ]:
# Receber uma informação do usuário
# input só guarda uma string por isso dá erro no cálculo do imc
peso = float (input('Informe seu peso em Kg: '))
altura = float (input('Informe sua altura em metros: '))
print(peso)
print(altura)
imc = peso / altura ** 2
print(f'{imc:.2f}') # arrendonda a exibição só com duas casas decimais

Informe seu peso em Kg: 87
Informe sua altura em metros: 1.85
87.0
1.85
25.42

In [ ]:
'''
É uma boa prática arrendondar a exibição ao invés do armazenamento
'''
print(round(imc,2))

25.42

In [ ]:
email= 'doug@gmail.com'
# Indexação de strings
# 0    1   2   3   4   5  6  7  8  9 10 11 12 13 (índice)
# -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 (índice reverso)
# 1º 2º 3º 4º 5º 6º 7º 8º 9º 10º 11º 12º 13º 14º (ordinal)
# d  o  u  g  @  g  m  a  i   l   .   c   o   m

In [ ]:
# Exibindo o primeiro caracter da string
email[0]
letra1 = email[0]
print(letra1)

d

In [ ]:
'''
Imagine que você deseja fatiar uma string exibindo do primeiro ao último caracter
'''
print(email[0:14]) #se colocar 13 ira aparecer doug@gmail.co, então tem que incluir o 13 coloca uma a mais
# inicio(0) inclusive e final(14) exclusivo

doug@gmail.com

In [ ]:
# Exibindo o último caracter de uma string com tamanho desconhecido
print(email[-1])

m

In [ ]:
# Fatiamento de um intervalo com passos (saltos)
'''
Imagine que você deseja criar uma visualização de todos os caracteres
com passo igual a 2
'''
print(email[::2]) #[inicio:fim (exclusive):passo(de quanto em quanto)]

du@mi.o

In [ ]:
# Fatiamento de um intervalo com passos (saltos)
'''
Imagine que você deseja criar uma visualização de todos os caracteres
com passo igual a 2
'''
print(email[4:13:2]) #[inicio:fim (exclusive):passo(de quanto em quanto)]

@mi.o

In [ ]:
#Função para contar a quantidade de caracteres de uma string
len(email)

14

In [ ]:
# Operador IN (Verifica a presença de um determinado caracter em uma string)
cliente = 'Douglas'
print('D' in cliente)

True

In [ ]:
'd' in cliente

False

In [ ]:
# Operador NOT IN (Verifica a presença de um dcaracter em uma string)
cliente = 'Douglas'
print('D' not in cliente)

False

In [ ]:
'd' not in cliente

True

In [ ]:
# Convertendo em caixa alta a primeira letra de uma string
nome = 'douglas ribeiro'
nome = nome.capitalize()
print(nome)

Douglas ribeiro

In [ ]:
nome_completo = 'douglas almeida ribeiro'
nome_completo = nome_completo.title()
print(nome_completo)

Douglas Almeida Ribeiro

In [ ]:
# Método upper deixa todas as letras em caixa alta
nome = 'douglas'
print(nome)
nome = nome.upper()
print(nome)
print(nome.lower())

douglas
DOUGLAS
douglas

In [ ]:
# Contando quantas vezes um caracter aparece em uma string
nome = 'ANA'
nome.count('A')

2

In [ ]:
# Descobrindo o índice da primeira correspondência encontrada
email = 'doug@gmail.com'
email.find('o')
# precisa fazer um loop para encontrar mais de uma letra 'o'

1

In [ ]:
# Método para remover espaços indesejados
nome = ' Douglas  '
len(nome)
nome = nome.strip()
len(nome)

7

In [ ]:
# Método para substituir um carcater por outro
custo = 'R$10.50'
custo = custo.replace('.', ',')
print(custo)

R$10,50

In [ ]:
'''
Imagine que você deseja criar um script que receba do usuário n nomes e os
armazene separadamente em uma única variável
'''
nomes = input('Informe os nomes dos convidados separados por espaços: ')

print(nomes)
print(type(nomes))

Informe os nomes dos convidados separados por espaços: Douglas Maria Julia Renan
Douglas Maria Julia Renan
<class 'str'>

In [ ]:
nome = nomes.split()
print(nome)
print(type(nome))

['Douglas', 'Maria', 'Julia', 'Renan']
<class 'list'>

#4. Estruturas de Dados

#4.1 Tuplas

In [ ]:
clientes = ('Douglas', 'Daniela', 'Eduardo')
print(clientes)
print(type(clientes))

('Douglas', 'Daniela', 'Eduardo')
<class 'tuple'>

In [ ]:
# As tuplas são indexadas (podemos fatiar a tupla)
clientes[1][2]
#posição da tupla e posição da letra da tupla

'n'

In [ ]:
clientes[2]
#posição da tupla e posição da letra da tupla

'Eduardo'

In [ ]:
# Verificando o tipo de objeto
type(clientes)

tuple

In [ ]:
# Convertendo um objeto em uma tupla. TUPLAS SÃO IMUTÁVEIS
notas = [8, 10, 5]
print(type(notas))
notas = tuple(notas)
print(type(notas))
notas = list(notas)
print(type(notas))

<class 'list'>
<class 'tuple'>
<class 'list'>

#4.2 Listas

In [ ]:
# As listas são mutáveis (diferente das tuplas que são imutáveis)
idade = [48,9] # também posso deixar []
print(type(idade))

<class 'list'>

In [ ]:
# Acessando os valores de uma lista
print(notas[0])
clientes = list(clientes)
clientes [0][0]

8

'D'

In [ ]:
clientes = ['Douglas', ['Eduardo', 'Ester']]
clientes[1][0][1] # sai a letra d
clientes[1][0]

'Eduardo'

In [ ]:
clientes = ['Douglas', ['Eduardo',[ 'Ester', 'Daniela']]]
clientes[1]
type(clientes[1][1])

list

In [ ]:
type(clientes[1][1][0])

str

In [ ]:
print(clientes[1][1][1])

Daniela

In [ ]:
# Operações com listas
nomes = ['Douglas', 'Daniela', 'Pedro', 'Maria','Eduardo', 'Ester']
print(nomes)

['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']

In [ ]:
#Incluir o nome José na última posição da lista
nomes.append('José') #por definição o método append acrescente o dado na última posição da lista
print(nomes)

['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester', 'José']

In [ ]:
'''
Vamos supor que desejamos incluir o nome Raul entre Daniela e Pedro
'''
nomes.insert(2, 'Raul') #insert(posição, valor)
print(nomes)
# o método insert inclui um elemento em uma posição previamente determinada e "empurra os"

['Douglas', 'Daniela', 'Raul', 'Pedro', 'Maria', 'Eduardo', 'Ester', 'José']

In [ ]:
'''
Imagine que você deseja substituir José por Jonas
'''
nomes[7] = 'Jonas'
print(nomes)

['Douglas', 'Daniela', 'Raul', 'Pedro', 'Maria', 'Eduardo', 'Ester', 'Jonas']

In [ ]:
# Descubrindo a posição de Jonas
nomes.index('Jonas')

7

In [ ]:
# Excluindo um registro da lista pelo seu índice (exclusão de Jonas)
nomes.pop(7)
print(nomes)

['Douglas', 'Daniela', 'Raul', 'Pedro', 'Maria', 'Eduardo', 'Ester']

In [ ]:
# Excluindo Raul da lista pelo seu valor
nomes.remove('Raul')
print(nomes)

['Douglas', 'Daniela', 'Pedro', 'Maria', 'Eduardo', 'Ester']


#4.3. Dicionários

In [ ]:
carro = {'marca': 'vw','modelo':'gol', 'tipo': 'mec', 'cor':'cinza' }

In [ ]:
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza'}

In [ ]:
type(carro)

dict

In [ ]:
# Acessando dados de um dicionário
carro['cor']

'cinza'

In [ ]:
carro['marca']

'vw'

In [ ]:
# Incluir uma chave e um valor
carro['motor']  = '1.0'
print(carro)

{'marca': 'vw', 'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza', 'motor': '1.0'}

In [ ]:
carro.get('motor')

'1.0'

In [ ]:
#Excluir um item de um dicionário
carro.pop('marca')
print(carro)

{'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza', 'motor': '1.0'}

In [ ]:
#Excluindo o último par de chave/valor (no caso exclui o último)
carro.popitem()
print(carro)

{'modelo': 'gol', 'tipo': 'mec', 'cor': 'cinza'}

#4.4 Sets (Conjuntos)

In [ ]:
clientes = {'Douglas', 'Eduardo', 'Ester'}
print(clientes)
print(type(clientes))

{'Douglas', 'Eduardo', 'Ester'}
<class 'set'>

#5. Estruturas de controle de fluxo

##5.1 IF, ELIF e ELSE

In [ ]:
'''
Imagine que você deseja criar um código que receba do usuário uma nota de 0 a 10
e caso a nota seja maior ou igual a 7 exiba a mensagem aprovado, caso contrario
exiba a mensagem reprovado
'''
nota = float (input('Informe uma nota numérica de o a 10: '))
if nota >= 7:
  print('Aprovado')
else:
  print('Reprovado')

Informe uma nota numérica de o a 10: 7
Aprovado

In [ ]:
'''
Imagine que se a nota for maior ou igual a 7 a mensagem deve ser
Aprovado, se menor que 7 e maior ou igual, a mensagem dever ser Recuperação
e caso a nota seja menor que 4 a mensagem deve ser Reprovado
'''
nota = float(input('Informe uma nota numérica de 0 a 10: '))
if nota >= 7:
  print('Aprovado')
elif nota >= 4:
  print('Recuperação')
else:
  print('Reprovado')

Informe uma nota numérica de 0 a 10: 3
Reprovado

##5.2 FOR

In [ ]:
nomes = ['Douglas','Daniela','Pedro','Maria','Eduardo','Ester']

In [ ]:
'''
Imagine que você deseja percorrer a lista de nomes e imprimir separadamente
cada nome encontrando
'''
for nome in nomes:
  print(nome)

Douglas
Daniela
Pedro
Maria
Eduardo
Ester

In [ ]:
pesos = [87, 35, 90, 70, 96, 67]
alturas = [1.85, 1.41, 1.75, 1.70, 1.82, 1.74]

In [ ]:
for numero in range(6):
  print(numero)

0
1
2
3
4
5

In [ ]:
'''
Suponha que você deseja criar uma lista de imc relacionamento
os pesos com suas repectivas alturas
'''
#range cria uma sequência e ele associa as listas
# o len conta quantos pesos poderia deixar como 6 for i in range(6):
imc = []
for i in range(len(pesos)):
  imc.append(round(pesos[i]/alturas[i]**2, 2))
print(imc)

[25.42, 17.6, 29.39, 24.22, 28.98, 22.13]

##5.3 While

In [ ]:
'''
Imagine que você deseja criar uma lista que receba do usuário uma quantidade de
notas determinada pelo usúario e armazena cada nota em uma lista e ao final
exiba a média aritmética
'''
n = int(input("Informe a quantidade de notas para calcular a média: "))
notas = []
c = 0
while c < n:
  notas.append(float(input(f"Informe a {c+1}ª nota: "))) #c+1 nesse caso é para exibir 1ª,2ª...
  c += 1 # é para somar o contador que começa com o 0
media = sum(notas)/n
print(f"A média das notas é: {media}")

Informe a quantidade de notas para calcular a média: 2
Informe a 1ª nota: 8
Informe a 2ª nota: 5
A média das notas é: 6.5

In [ ]:
#Alternativa
'''
Imagine que você deseja criar uma lista que receba do usuário uma quantidade de
notas determinada pelo usúario e armazena cada nota em uma lista e ao final
exiba a média aritmética
'''
notas = input('Informe as notas separadas por espaço: ')
#type(notas)resultado é uma str
notas = notas.split() #tranforma uma string em uma sequencia de strings em uma lista
type(notas)

Informe as notas separadas por espaço: 3

list

In [ ]:
notas = input('Informe as notas separadas por espaço: ')
notas = notas.split()
for i in range(len(notas)):
  notas[i] = float(notas[i])
print(notas)
media = sum(notas)/len(notas)
print(f"A média das notas é: {media}")

Informe as notas separadas por espaço: 3 9 8
[3.0, 9.0, 8.0]
A média das notas é: 6.666666666666667

##5.4 Loop Infinito (While true)

In [ ]:
'''
Suponha que você deseja solicitar uma informação ao usúario
dentro de um loop while
'''
while True:
  idade = float(input('Informe sua idade: '))
  break
  #break vai parar o loop

Informe sua idade: 27

#6. Tratamento de exceções

In [ ]:
'''
Imagine que você deseja receber do usúario uma idade numérica em anos inteiros
e armazenar em uma variável chamada idade
'''
idade = int(input('Informe sua idade numérica em anos inteiros: '))

Informe sua idade numérica em anos inteiros: 56.9

ValueError: invalid literal for int() with base 10: '56.9'

In [ ]:
# Utilizando o try e except para não quebrar o código
'''
Esta estrutura não deixa quebrar o código, mas sem a combinação com o
while True ele encerra o código
'''
try:
  idade = int(input('Informe sua idade numérica em anos inteiros: '))
except:
  print('O valor informado não é numérico, favor tentar novamente!')

Informe sua idade numérica em anos inteiros: vinte sete
O valor informado não é numérico, favor tentar novamente!

In [ ]:
'''
Neste bloco temos uma opção para não quebrar e não para o código
diante de uma exceção
'''
while True:
  try:
    idade = int(input('Informe sua idade numérica em anos inteiros: '))
    break
  except:
    print('O valor informado não é numérico, favor tentar novamente!')

Informe sua idade numérica em anos inteiros: a
O valor informado não é numérico, favor tentar novamente!
Informe sua idade numérica em anos inteiros: 3.4
O valor informado não é numérico, favor tentar novamente!
Informe sua idade numérica em anos inteiros: 27

#7. Funções definidas pelo usário

In [ ]:
'''
Imagine que você deseja criar um trecho de código que cada vez
que for executado, exiba a mensagem "Olá mundo"
'''
def sorte():#função sem argumento. Def é preparado para receber uma função
  print('Olá mundo!')

In [ ]:
sorte()

Olá mundo!

In [ ]:
#Entendendo o retorno de uma função
'''
Suponha que ao executar a função sorte criada no exemplo anterior
seu objetivo seja guardar em uma variável o texto por ela exibido
'''
texto = sorte()
print(texto)

Olá mundo!
None

In [ ]:
print(texto)

None

In [ ]:
'''
Neste caso podemos observar que ao tentar guardar o texto na variável
não aconteceu o efeito desejado, poque não pedi o tipo de retorno só fez a exibição
tem que deixar explicito. A função está sem retorno não dá para armazenar
'''
print(texto)

None

In [ ]:
def sorte2():
  a = 'Olá mundo!'
  return a #o return vai armazenar o valor de sorte2()

In [ ]:
sorte2()

'Olá mundo!'

In [ ]:
texto = sorte2()
print(texto)

Olá mundo!

In [ ]:
'''
Imagine que você deseja criar uma função que quando executada receba do usuário
seu peso, sua altura e retorne o seu imc
'''
def calcula_imc():
  peso = float(input('Informe seu peso: '))
  altura = float(input('Informe sua altura: '))
  imc =  peso/altura**2
  return imc

In [ ]:
calcula_imc()

Informe seu peso: 87
Informe sua altura: 1.85

25.420014609203797

In [ ]:
'''
Agora imagine que você deseja que os valores de peso e altura sejam
fornecidos como argumentos ao chamar a função
'''
def imc(peso, altura):
  imc = peso/altura**2
  return imc

In [ ]:
'''
A função imc foi criada requerendo dois argumentos posicionais, peso(1)
e altura(2)
'''
imc (87, 1.85)

25.420014609203797

In [ ]:
imc(peso = 87, altura = 1.85) #eu nomeio o argumento para que ele calcule fora de ordem

25.420014609203797

In [ ]:
'''
Os argumentos nomeados podem subverter a ordem dos argumentos posicionais
só colocar o nome no argumento e o sinal de igual
'''
imc(altura = 1.85, peso = 87)

25.420014609203797